<section>
<div class="row">
 
	 <div class="col-sm-6">
	    <div class="row">
		   <div class="col-xs-2">
		   	<h1>
				<button type="button" class="btn btn-success">
					<i class="glyphicon glyphicon-user1"></i>
				</button>
			</h1>
		   </div>
		   <div class="col-xs-10">
			<h1>20 408</h1>
		   </div>
	    </div>
	    <div class="row">
	    	<div class="col-xs-10 col-xs-offset-2">
	    	 <span class="text-muted">Statistiques</span> 
	    	</div>
	    </div>
	</div>

	<div class="col-sm-6">
	    <div class="row">
		   <div class="col-xs-2">
	       <h1>
				<button type="button" class="btn btn-success">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
			</h1>
		   </div>
		   <div class="col-xs-10">
			   <h1>8,83</h1>
		   </div>
	    </div>
	    <div class="row">
	    	<div class="col-xs-10 col-xs-offset-2">
	    		<span class="text-muted">Total</span> 
	    	</div>
	    </div>
	</div>

	<div class="col-sm-6">
	    <div class="row">
		   <div class="col-xs-2">
             <h1>
				<button type="button" class="btn btn-success">
					<i class="glyphicon glyphicon-eye-open"></i>
				</button>
			</h1>		  
			</div>
		   <div class="col-xs-10">
			805
		   </div>
	    </div>
	    <div class="row">
	    	<div class="col-xs-10 col-xs-offset-2">
	    		New Client
	    	</div>
	    </div>
	</div>

	<div class="col-sm-6">
	    <div class="row">
		   <div class="col-xs-2">
			<h1>
				<button type="button" class="btn btn-info">
					<i class="glyphicon glyphicon-record"></i>
				</button>
			</h1>
		   </div>
		   <div class="col-xs-10">
			20 408
		   </div>
	    </div>
	    <div class="row">
	    	<div class="col-xs-10 col-xs-offset-2">
	    		Statistiques
	    	</div>
	    </div>
	</div>

	<div class="col-sm-6">
	    <div class="row">
		   <div class="col-xs-2">
			<h1>
				<button type="button" class="btn btn-primary">
					<i class="glyphicon glyphicon-edit"></i>
				</button>
			</h1>
		   </div>
		   <div class="col-xs-10">
			20 408
		   </div>
	    </div>
	    <div class="row">
	    	<div class="col-xs-10 col-xs-offset-2">
	    		Statistiques
	    	</div>
	    </div>
	</div>
</div>
</section>