<section>
	<div class="page-header">
		<h1>Clients</h1>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-8">
			<div class="input-group input-group-lg">
				<input type="text" class="form-control">
				<span class="input-group-btn">
					<button class="btn btn-default" ng-model="test" type="button">Search</button>
				</span>
			</div>
		</div>
		
	</div>
	</br>
	</br>
	<div class="list-group">
		<div class="col-xs-6 col-sm-4" data-ng-repeat="person in management.users | filter:test">
            <a data-ng-href="#!/management/{{ person._id }}" class="list-group">    
				<h6 class="person-list text-center">
					<i class="glyphicon glyphicon-user"></i>
				</h6>
			    <div class="row">
			    	<div class="col-xs-10 col-xs-offset-1">
			    		<h4>{{ person.name}}</h4>
			    		
			    	</div>
			    </div>
		</div>
	</div>
</section>