<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">Dashboard charts</h2>
      
    </div>

<div class="row">
<div class="container-chart" class="col-sm-6" ng-show="main.isLoggedIn && main.authorized">
<canvas id="myChart"  ></canvas>
</div>  
<div class="container-chart" class="col-sm-6">
<canvas id="myChart1"  ></canvas>
</div>
</div>
<div class="container-chart" >
<canvas id="myChart2"  ></canvas>
</div>
<div class="container-chart" >
<canvas id="myChart3"  ></canvas>
</div>

</div>


 

