<!-- Heading -->
<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">Client Management</h2>
      
    </div>
</div>
<!-- Heading -->

<br>

<!-- Loading Icon (Bootstrap) -->
<div class="jumbotron text-center" ng-show="management.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading....</p>
</div>
<!-- Loading Icon (Bootstrap) -->

<br>

<!-- Input For Filter  -->
<div>
    <div class="col-lg-6">
        <div class="input-group">
            <span class="input-group-addon">Results to display:</span>
            <input type="text" class="form-control" ng-model="number">
        </div>
    </div>
</div>

<!-- Container: Start -->
<div class="container">

    <!-- Apply Button Filter -->
    <button type="button" ng-click="management.showMore(number);" class="btn btn-success">Apply Filter</button>

    <!--/ Show All Button -->
    <button type="button" ng-click="management.showAll();" class="btn btn-warning">Show All</button>
    
     <button type="button" ng-click="searchUser(123456789012);"  class="btn btn-primary pull-right" data-toggle="modal" data-target="#userAddModal" class="glyphicon glyphicon-plus">
        <i class="glyphicon glyphicon-plus"></i>
      </button>
      <div col-xs-48 class="glyphicon glyphicon-user1"></div>
    
    <!-- Input For Filter  -->

    <!-- Simple Search Bar -->
    <div class="navbar-form">
        <div class="form-group">
            <!-- Search Input -->
            <input type="text" class="form-control" name="search" placeholder="search for..." ng-model="test">
        </div>
        <!-- Serach Button -->
        <button type="button" ng-click="management.search(searchKeyword, number);" class="btn btn-default">Search</button>
        <!-- Clear Button -->
        <button type="button" ng-click="management.clear();" class="btn btn-default">Clear</button>
        <!-- Advanced Search Button -->
        <a href="/search">
            <button type="button" class="btn btn-default">Advanced Search</button>
        </a>
    </div>
    <!-- Simple Search Bar /-->

    <!-- Custom Error Message -->
    <div class="row show-hide-message" ng-show="management.showMoreError">
        <div class="alert alert-danger">{{ management.showMoreError }}</div>
    </div>
    <!-- Custom Error Message -->

</div>
<!-- Container: End -->

<br>

<!-- Total Search Results -->
<div ng-show="searchFilter !== undefined">
    <p><strong>Total results: </strong>{{ (management.users | filter: searchFilter).length }}</p>
</div>

<!-- Results Being Shown -->
<div ng-show="searchFilter !== undefined">
    <p><strong>Showing: </strong>{{( management.users | filter: searchFilter | limitTo: management.limit).length }}</p>
</div>

<br>
<br>
<br>

<!-- User Management Table -->
<div class="panel panel-primary">
    <!-- Heading -->
    <div class="panel-heading">
        <strong>User Management</strong>
    </div>
    <!-- Start: Table -->
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Adresse</th>
            <th>Type Client</th>
            <th>Phone</th>
            <th>Abonnement</th>
            <th>Edit/Delete</th>

        </tr>
        <tr ng-repeat="person in management.users | filter: searchFilter | limitTo: management.limit | filter:test">
            <td>{{ person.name }}</a></td>
            <td>{{ person.username }}</td>
            <td>{{ person.email }}</td>
            <td>{{ person.adresse }}</td>
            <td>{{ person.type_client}}</td>
            <td>{{ person.phone}}</td>
            <td   style="color: blue;"><a href="/managementabonnement">{{ person.abonnement}}</a></td>
            <td>
                <!-- Edit Button -->
                <a href="/edit/{{ person._id }}">
                    <button type="button" ng-show="management.editAccess" class="btn btn-primary">Edit</button>
                </a>
                <!-- Delete Button -->
                <button type="button" ng-click="management.deleteUser(person.username);" ng-show="management.deleteAccess" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        <!-- End: Table -->
    </table>
</div>
<!-- User Management Table -->

<br>
<br>
<div id="userAddModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add User</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="name" class="form-control" ng-model='person.name' id="name" placeholder="Enter name">
          </div>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="username" class="form-control" ng-model='person.username' id="username" placeholder="Enter username">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" ng-model='person.email' placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="adresse">Adresse</label>
            <input type="adresse" class="form-control" id="adresse" ng-model='person.adresse' placeholder="Enter adresse">
          </div>
          <div class="form-group">
            <label for="type_client">Type Client</label>
            <input type="type_client" class="form-control" id="type_client" ng-model='person.type_client' placeholder="Enter type client">
          </div>
           <div class="form-group">
            <label for="phone">Phone</label>
            <input type="phone" class="form-control" id="phone" ng-model='person.phone' placeholder="Enter phone">
          </div>
          <button type="submit" class="btn btn-default" data-ng-click="addPerson(person);"  data-dismiss="modal">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    </div>
</div>
<!-- Input For Filter  -->
<div>
    <div class="col-lg-6">
        <div class="input-group">
            <span class="input-group-addon">Results to display:</span>
            <input type="text" class="form-control" ng-model="number">
        </div>
    </div>
</div>

<!-- Container: Start -->
<div class="container">

    <!-- Apply Button Filter -->
    <button type="button" ng-click="management.showMore(number);" class="btn btn-success">Apply Filter</button>

    <!--/ Show All Button -->
    <button type="button" ng-click="management.showAll();" class="btn btn-warning">Show All</button>
    <!-- Input For Filter  -->

    <!-- Simple Search Bar -->
    <div class="navbar-form">
        <div class="form-group">
            <!-- Search Input -->
            <input type="text" class="form-control" name="search" placeholder="search for..." ng-model="searchKeyword">
        </div>
        <!-- Serach Button -->
        <button type="button" ng-click="management.search(searchKeyword, number);" class="btn btn-default">Search</button>
        <!-- Clear Button -->
        <button type="button" ng-click="management.clear();" class="btn btn-default">Clear</button>
        <!-- Advanced Search Button -->
        <a href="/search">
            <button type="button" class="btn btn-default">Advanced Search</button>
        </a>
    </div>
    <!-- Simple Search Bar /-->
</div>
<!-- Container: End -->

<br>

<!-- Total Search Results -->
<div ng-show="searchFilter !== undefined">
    <p><strong>Total results: </strong>{{ (management.users | filter: searchFilter).length }}</p>
</div>

<!-- Results Being Shown -->
<div ng-show="searchFilter !== undefined">
    <p><strong>Showing: </strong>{{( management.users | filter: searchFilter | limitTo: management.limit).length }}</p>
</div>

<br>

<!-- Custom Error Message -->
<div class="row show-hide-message" ng-show="management.showMoreError">
    <div class="alert alert-danger">{{ management.showMoreError }}</div>
</div>
<!-- Custom Error Message -->
